{% extends "base.html" %}
{% block title %}Add Expense{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            Make a new expense
        </div>
        <div class="card-body">
            <form method="POST">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" name="title" required>
                </div>
                <div class="form-group">
                    <label>Amount</label>
                    <input type="number" class="form-control" name="amount" required>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea type="text" class="form-control" rows="3" name="description" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Add new expense</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}