{% extends "base.html" %}
{% block title %}Add Expense{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            Let's edit your expense
        </div>
        <div class="card-body">
            <form method="POST">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" name="title" value="{{todo.title}}" required>
                </div>
                <div class="form-group">
                    <label>Amount</label>
                    <input type="number" step="0.01" class="form-control" name="amount" value="{{todo.amount}}" required>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea type="text" class="form-control"
                              rows="3" name="description" required>{{todo.description}}</textarea>
                </div>

                <button type="submit" class="btn btn-primary">Save your expense</button>
                <button onclick="window.location.href='delete/{{todo.id}}'"
                        type="button" class="btn btn-danger">Delete
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}